.listImg{
    max-height: 300px;
    max-width: 299px;
}
.cards{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
    border: 5px solid #149e6a;
    border-radius: 10px;
}
.cards-img{
    overflow: auto;
}
.header-cards >img{
    height:50px;
    width:300px;
    object-fit: contain;
    border-bottom:5px solid #149e6a;
    border-radius: 10px;

}